{% extends 'base.html' %}
{% block title %}Tous les sondages{% endblock %}
{% block main %}
<h1 class="mb-4 text-center fs-1">Tous les sondages</h1>
<div class="list-group">
{% for question in questions %}
    <a href="{% url 'polls:detail' question.id %}"
       class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center fs-3">
        <span>{{ question.question_text }}</span><span class="badge-date fs-5">{{ question.pub_date|date:"d/m/Y" }}</span>
    </a>
{% endfor %}
</div>
<div class="d-flex justify-content-end mt-3">
    <a href="{% url 'polls:index' %}" class="btn btn-outline-danger fs-5">Retour</a>
</div>
{% endblock %}
