{% extends 'base.html' %}

{% block title %}Tous les sondages{% endblock %}

{% block main %}
<h1 class="mb-4 text-center fs-1">Tous les sondages</h1>

<div class="list-group">
{% for question in questions %}
    <div class="list-group-item d-flex justify-content-between align-items-center">

        <a href="{% url 'polls:detail' question.id %}"
           class="text-decoration-none text-dark fs-3 flex-grow-1">
            {{ question.question_text }}
        </a>

        <span class="badge-date fs-5 ms-3">{{ question.pub_date|date:"d/m/Y" }}</span>

        {% if user == question.author or user.is_superuser %}
            <a href="{% url 'polls:delete' question.id %}"
               class="btn btn-outline-danger btn-sm ms-3 flex-shrink-0">Supprimer
            </a>
        {% endif %}

    </div>
{% endfor %}
</div>

<div class="d-flex justify-content-end mt-3">
    <a href="{% url 'polls:index' %}" class="btn btn-outline-danger fs-5">Retour</a>
</div>
{% endblock %}
