{% extends 'base.html' %}

{% block title %}Sondages récents{% endblock %}

{% block main %}
<h1>Sondages récents</h1>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li>
            <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
            — Publiée le {{ question.pub_date|date:"d/m/Y" }}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Aucun sondage disponible.</p>
{% endif %}
<a href="{% url 'polls:add' %}">+ Ajouter un sondage</a>
{% endblock %}
